In [1]:
import pandas as pd
import numpy as np
from pandasql import sqldf

# import pyspark
# from pyspark.sql import SparkSession
# from pyspark.sql.types import StringType
# from pyspark.sql.functions import col, sum
# from pyspark.sql import functions as F

In [ ]:
# spark = SparkSession.builder.appName('Log data analysis').getOrCreate()
# spark

In [2]:
x = np.array([2.0,2.0,2.3,2.1,2.4,2.2,1.9,2.5,2.3,2.4])
g = np.repeat(np.array(['A', 'B']), 5)
d = {'g':g, 'x':x}
df = pd.DataFrame(data=d)
df

   g    x
0  A  2.0
1  A  2.0
2  A  2.3
3  A  2.1
4  A  2.4
5  B  2.2
6  B  1.9
7  B  2.5
8  B  2.3
9  B  2.4

In [3]:
A = df[df.g=='A']
B = df[df.g=='B']

df.groupby('g').x.describe()

   count  mean       std  min  25%  50%  75%  max
g
A    5.0  2.16  0.181659  2.0  2.0  2.1  2.3  2.4
B    5.0  2.26  0.230217  1.9  2.2  2.3  2.4  2.5

In [4]:
from scipy.stats import shapiro
shapiro(x)

ShapiroResult(statistic=0.9437553882598877, pvalue=0.595504641532898)

In [5]:
from scipy.stats import ttest_ind
ttest_ind(A.x, B.x, equal_var=True)

Ttest_indResult(statistic=-0.7624928516630208, pvalue=0.4676497723369858)